nvidiaModel/build/
.idea/
.vs/
nvidiaModel/compiling.txt
nvidiaModel/nvidiaModel.vcxproj
nvidiaModel/nvidiaModel.vcxproj.user
nvidiaModel/snapshots/
nvidiaModel/rendering.txt
nvidiaModel/simulation.mp4
